@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Public+Sans:ital,wght@0,500;1,100&family=The+Nautigal:wght@700&display=swap");
* {
  font-family: "Open Sans", sans-serif;
  /* background-color: rgb(0, 0, 0, 0.2); */
}
body {
  background-color: rgb(0, 0, 0, 0.2);
  width: 900px;
  margin: 0 auto;
}

h1 {
  font-size: 60px;
  width: 500px;
  margin: 0 auto;
  text-align: center;
  color: red;
}
p {
  font-size: 30px;
  margin-top: 8rem;
  margin-left: 12rem;
}

a:first-child {
  text-decoration: none;
  /* color: blueviolet; */
}

a:hover {
  font-size: 40px;
  /* color: red; */
  text-decoration: 5px solid cornflowerblue;
}

a:last-child {
  text-decoration: none;
}

.heading {
  animation-name: heading;
  animation-duration: 1.5s;
  animation-delay: 0.5s;
  animation-timing-function: ease-out;
}

@keyframes heading {
  0% {
    opacity: 0;
    transform: translateX(300px);
  }
  80% {
    /* background-color: snow; */
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
/* .setup {
  width: 60%;
} */
.gta-1 {
  width: 400px;
  height: auto;
  padding-left: 80px;
  overflow: hidden;
  position: relative;
  /* opacity: 0; */
}
.valorant {
  width: 500px;
  position: absolute;
  margin-top: 150px;
  margin-left: -15px;
}
.gta-p {
  position: absolute;
  margin-left: 600px;
  margin-top: 20px;
  font-style: italic;
  font-size: 26px;
}

.nolife {
  /* margin-bottom: 80px; */
  width: 200px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: gray;
  padding: 20px 10px;
  border-radius: 2rem;
}

.setup {
  width: 60%;
  margin-top: 250px;
  margin-right: 5px;
  position: relative;
  padding-top: 40px;
}
.logo {
  width: 100px;
  height: auto;
  position: absolute;
  margin-top: 110px;
  margin-left: 70px;
  /* opacity: 0; */
  animation-name: logo;
  animation-duration: 1.5s;
  animation-delay: 0.5s;
}
.header {
  display: flex;
}
@keyframes logo {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  80% {
    opacity: 0.5;
    /* background-color: snow; */
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.freefire {
  height: 280px;
  position: absolute;
  margin-top: 450px;
  margin-left: -160px;
  /* padding-bottom: 120px; */
}
.native {
  position: absolute;
  margin-left: 40px;
  margin-top: 80px;
  font-size: 26px;
}
